page-orcamento {
  .descservice{
    font-size: 12px;
  }

  .imgpdido{
    width: 100%;
  }
  .iconclose{
    position: absolute;
    font-size: 45px;
    left: 35%;
    top: -20px;
    color: #ff0000;
  }
  .addfotos{
    border-radius: 50px;
    width: 30%;
  }

}
