page-indique {
.indica{
      background-image: url('../assets/bgindica.png');
      .item{
        color: #fff;
      background: none;
      }
}
.buttonindique{
  margin-top: 10%;
  width: 60%;

}
}
